<div class="row">
    <h1>Welcome to Anagram Generator</h1>
</div>

<p>
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-download-alt"></span> <a href="/home/DownloadAnagrams" target="_blank">Download anagrams</a>
    </button>
</p>
@{
    if (Request.Cookies["lastAnagram"] != null)
    {
        <h3>History:</h3>
        var lastAnagrams = Request.Cookies["lastAnagram"].Value.Split(',').ToList();
        foreach (string anagram in lastAnagrams)
        {
            <li> @Html.ActionLink(@anagram, "Anagram", "Home", new { word = @anagram }, null)</li>
        }
        
    }
}

@{
    if (ViewBag.Anagrams != null)
    {
        <p><h2>Founded anagrams:</h2></p>
        foreach (string anagram in ViewBag.Anagrams)
        {
            <li>@anagram</li>
        }
    }
    else
    {
        <h2>No anagrams were founded</h2>
    }
}
