<div class="row">
    <h1>Welcome to Anagram Generator</h1>
</div>

<br />

<form action="FindWord">
    <div class="form-group">
        <label>Filter:</label>
        <input class="form-control" id="word" name="word">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<br />

@{
    if (ViewBag.Words != null)
    {
        <p><h2>Founded words:</h2></p>
        foreach (string word in ViewBag.Words)
        {
            <li>@word</li>
        }
    }
    else
    {
        <h2>No words were founded</h2>
    }
}


