<div class="row">
    <h1>Welcome to Anagram Generator</h1>
</div>

@{
    ViewBag.Title = "WordFormSerch";
}

<h2>Find anagram!</h2>

<form action="Anagram">
    <div class="form-group">
        <label>Word:</label>
        <input class="form-control" id="word" name="word">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

